body {
  display: grid;
  background-color: lavender;
  grid-template-areas: "header header header";
  grid-gap: 1px;
}

#header {
  background-color: skyblue;
  font-family: monospace;
  font-size: 12px;
  grid-area: header;
  text-align: center;
  grid-gap: 5px;
  max-height: 140px;
  width: 75%;
  margin: 0 auto;
}

#header img {
  float: left;
  width: 200px;
  bottom: 0px;
  max-height: 140px;
}

#img-responsive {
  height: auto;
  width: auto;
  max-height: 120px;
  max-width: 350px;
}

#film-selector {
  margin-top: 40px;
  margin-left: 200px;
  padding-left: 20px;
}

#input-text {
  padding-top: 200px;
  
}
